<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<footer>
    <p class="footerText">Made with ❤️ by &nbsp;<a href="https://github.com/smsarfroz" class="githubLink" target="_blank"><img class="githubIcon" src="github.svg" alt="">&nbsp;smsarfroz</a></p>
</footer>