<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Index</title>
</head>
<body>
    <%- include('navbar') %>
    
    <div class="messages">
        <% messages.forEach(message => { %>
            <%- include('message', {message: message}) %>
        <% }); %>
    </div>

    <%- include('footer') %>

    <script>
        function getRandomColor() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        const cards = document.querySelectorAll(".message");

        cards.forEach(card => {
            let randomColor = getRandomColor();
            card.style.backgroundColor = randomColor;
        });
        
    </script>
</body>
</html>