<div class="message">
    <h1>User: <%= message.user %> </h1>
    <p>message: <%= message.text %></p>
    <p>Date: <%= message.added%></p>
    <button><a href="/<%=message.id%>">open</a></button>
</div>