<div class="message">
    <p class="date"><%= message.added%></p>
    <div class="messageText"><%- message.text %></div>
    <hr class="dottedLine">
    <div class="bottomContainer">
        <p><%= message.user %> </p>
        <p><i>from <%= message.country %></i></p>
    </div>
</div>