<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<nav>
    <h2>Mini Message Board</h2>
    <div class="navigation">
        <h3><a href="/">Home</a></h3>
        <h3><a href="/new">Add Message</a></h3>
    </div>
</nav>