/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

.githubIcon {
    width: 1rem;
    height: 1rem;
}
body {
    background-color: rgb(148, 182, 182);
}
* {
    /* border:1px dotted red; */
}
a {
    color:rgb(73, 73, 73);
    text-decoration: none;
}
.footerText {
    color: rgb(73, 73, 73);
    display: flex;
}
.githubLink {
    display: flex;
    align-items: center;
    text-align: center;
}
footer {
    position: fixed;
    bottom: 0.7rem;
    left: 50%;
    transform: translateX(-50%);
}

nav {
    border: 5px solid white;
    border-radius: 8px;
    /* width: 100%; */
    margin: 2rem 1rem;
    background-color: #24a0ed;
    color: white;
    padding: 1rem 1rem;
    font-family:sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    display: flex;
    gap: 3rem;
}